{% extends "main.jinja2" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <p>Anderson</p>
    <table>
        <thead>
            <tr>
                <td>Nsu</td>
                <td>Itrn</td>
                <td>Valor Taxa Bandeira</td>
                <td>Valor Intercambio</td>
                <td>Valor Margem</td>
                <td>Tipo Cartao</td>
                <td>Codigo</td>
            </tr>
        </thead>
        <tbody>
        {% for icpt in lista %}
            <tr>
                <td>{{ icpt.nsu }}</td>
                <td>{{ icpt.itrn }}</td>
                <td>{{ icpt.valor_taxa_bandeira }}</td>
                <td>{{ icpt.valor_intercambio }}</td>
                <td>{{ icpt.valor_margem }}</td>
                <td>{{ icpt.tipo_cartao }}</td>
                <td>{{ icpt.codigo_descricao }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}