{% extends "main.jinja2" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <p>Anderson</p>
    <table>
        <thead>
            <tr>
                <td>CNPJ</td>
                <td>Estabelecimento</td>
                <td>Lote Autorizador</td>
                <td>Lote Financeiro</td>
                <td>Data Pagamento</td>
                <td>Tipo Transacao</td>
                <td>valor Bruto</td>
            </tr>
        </thead>
        <tbody>
        {% for lote in lista %}
            <tr>
                <td>{{ lote.cnpj }}</td>
                <td>{{ lote.estabelecimento }}</td>
                <td>{{ lote.lote_financeiro }}</td>
                <td>{{ lote.lote_autorizador }}</td>
                <td>{{ lote.data_pagamento_prevista }}</td>
                <td>{{ lote.tipo_transacao }}</td>
                <td>{{ lote.valor_bruto }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
