{% extends "main.jinja2" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <p>Anderson</p>
    <table>
        <thead>
            <tr>
                <td>Nsu</td>
                <td>Itrn</td>
                <td>Lote Autorizador</td>
                <td>Lote Financeiro</td>
                <td>Data Transacao</td>
                <td>Tipo Transacao</td>
                <td>Parcela</td>
            </tr>
        </thead>
        <tbody>
        {% for transacao in lista %}
            <tr>
                <td>{{ transacao.nsu }}</td>
                <td>{{ transacao.itrn }}</td>
                <td>{{ transacao.lote_autorizador }}</td>
                <td>{{ transacao.lote_financeiro }}</td>
                <td>{{ transacao.data_transacao }}</td>
                <td>{{ transacao.tipo_transacao }}</td>
                <td>{{ transacao.parcela }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
